{{!-- <div class="card mb-4">
    <div><img src="{{this.image}}" class="card-img-top" alt="..."></div>
    <div class="card-body">
        <h5 class="card-title">{{this.price}}</h5>
        <p class="card-text">Адрес: {{this.address}}
            Этаж: {{this.floor}}
        </p>
        <p class="card-text"><small class="text-muted"><a href="/showoneflat/{{this.id}}">Подробнее</a></small></p>
    </div>
</div> --}}



{{#each flats}}
<div class="card-deck">
    <div class="card">
        <img src="{{this.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.price}}</h5>
            <p class="card-text">Адрес: {{this.address}}
                <p class="card-text"> Этаж: {{this.floor}}</p>
        <p class="card-text"><small class="text-muted"><a href="/showoneflat/{{this.id}}">Подробнее</a></small></p>
        </div>
    </div>
</div>
{{/each}}